@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.block {
  display: flex;
  gap: $space-16;
  @include breakpoint(medium) {
    gap: 0;
  }
  &_big {
    @include flexbox($display: flex, $direction: column, $align: center);
    text-align: center;
    [class*='avatar'] {
      width: $space-128;
      margin-bottom: $space-16;
      img {
        box-shadow: 0 0 0 $space-8 var(--color-gray-2);
      }
    }
    [class*='name'] {
      font-size: $fsize-24;
      margin-bottom: $space-4;
    }
  }
}
.avatar {
  width: $space-32;
  .img {
    border-radius: 25rem;
    box-shadow: 0 0 0 $space-4 var(--color-surface-200);
    height: auto;
  }
  .img_active {
    box-shadow: 0 0 0 4px var(--color-complementary);
  }
}
.name {
  font-size: $fsize-16 * 1.2;
  line-height: 1.2;
  color: var(--color-text-200);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  @include breakpoint(medium) {
    font-size: $fsize-16;
  }
}
.rol {
  font-size: $fsize-12;
  font-weight: $fweight-normal;
  color: var(--color-text-500);
  margin-bottom: $space-8;
  line-height: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  @include breakpoint(medium) {
    font-size: $fsize-12 * 1.35;
  }
}
.desc {
  display: none;
  font-size: $fsize-16;
  margin-bottom: $space-8;
  @include breakpoint(medium) {
    display: block;
  }
}
.text {
  &_hide {
    @include breakpoint(medium) {
      display: none;
    }
  }
}
