.about {
  position: relative;
}
.about__list {
  padding: 0;
  list-style: none;
}
.about__list li {
  padding: 0 0 var(--space-4);
  text-align: left;
}
.about__list li strong {
  margin-right: var(--space-8);
  padding: 0;
  color: var(--color-text-200);
  font-weight: var(--font-weight-bold);
}
.about__list li span {
  color: var(--color-text-200);
  font-weight: 300;
}
.about__list li strong:after {
  position: relative;
  content: ' . . . .';
  display: inline;
  margin-left: -4px;
}
.about__block {
  margin-bottom: var(--space-32);
}
.about__block svg {
  color: var(--color-complementary);
  padding: var(--space-4);
  width: var(--space-48);
  height: var(--space-48);
  float: left;
  margin: 0 var(--space-16) var(--space-16) 0;
  box-shadow: 0 0 0 2px var(--color-primary-600);
}
.about__block_name {
  font-family: var(--font-roboto);
  font-size: .95rem;
  color: var(--color-text-200);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--space-8);
  padding-left: var(--space-64);
  text-transform: uppercase;
}
.about__block_desc {
  font-weight: var(--font-weight-light);
  line-height: 1.5;
  padding-left: var(--space-64);
}