@use '../../scss/extends' as *;
@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.section {
  @extend %section;
  @include breakpoint(medium) {
    margin-top: 0;
  }
}
.title {
  @extend %section-title;
}
.subtitle {
  @extend %section-subtitle
}
.list {
  padding: 0;
  list-style: none;
  .item {
    padding: 0 0 $space-4;
    text-align: left;
  }
  .data {
    margin-right: $space-8;
    padding: 0;
    color: var(--color-text-200);
    font-weight: var(--font-weight-bold);
    &:after {
      position: relative;
      content: ' . . . .';
      display: inline;
      margin-left: calc( $space-4 * -1);
    }
  }  
  .value {
    color: var(--color-text-200);
    font-weight: var(--font-weight-light);
  }  
}  
.block {
  margin-bottom: $space-32;
  svg {
    color: var(--color-complementary);
    padding: $space-4;
    width: $space-48;
    height: $space-48;
    float: left;
  }
  .name {
    font: normal normal var(--font-weight-bold) .95rem/$line-height-medium var(--font-roboto);
    color: var(--color-text-200);
    margin-bottom: $space-8;
    padding-left: $space-64;
    text-transform: uppercase;
  }
  .desc {
    font-weight: var(--font-weight-light);
    line-height: $line-height-large;
    padding-left: $space-64;
  }
}
