.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  border-bottom: 1px solid var(--color-gray-3);
}
.topbar__icons {
  display: flex;
  gap: var(--space-16);
}
.topbar__icons svg {
  font-size: var(--font-size-24);
}

@media(min-width: 768px) {
  .topbar {
    flex-direction: column;
    gap: .5rem;
    height: max-content;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
}