@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $space-64;
  border-bottom: 1px solid var(--color-gray-3);
  @include breakpoint(medium) {
    flex-direction: column;
    gap: .5rem;
    height: max-content;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
}
.icons {
  display: flex;
  gap: $space-16;
  cursor: pointer;
  svg {
    font-size: $fsize-24;
  }
}
