@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.card {
  @include flexbox($display: flex, $direction: column, $justify: center, $align: center);
  background-color: var(--color-surface-100);
  height: $space-128;
  position: relative;
}
.image {
  margin-bottom: $space-8;
}
.text {
  font-family: var(--font-lekton);
  font-weight: $fweight-bold;
  position: absolute;
  bottom: $space-16;
  width: 100%;
  text-align: center;
  color: var(--color-text-400);
}
