@use '../../scss/variables' as *;

.card {
  background-color: var(--color-surface-100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: $space-128;
  position: relative;
}
.image {
  margin-bottom: $space-8;
  img {
    filter: contrast(0.4);
  }
}
.text {
  font-family: var(--font-lekton);
  font-weight: $fweight-bold;
  position: absolute;
  bottom: $space-16;
  width: 100%;
  text-align: center;
  color: var(--color-text-400);
}
