:root {
  --base-unit: 0.25rem;

  /** CSS DARK THEME PRIMARY COLORS */
  --color-primary-100: #3f51b5;
  --color-primary-200: #5962be;
  --color-primary-300: #7074c6;
  --color-primary-400: #8587ce;
  --color-primary-500: #9a9ad7;
  --color-primary-600: #aeaddf;

  /** SECONDARY COLORS */
  --color-secondary-100: #cddc39;
  --color-secondary-200: #d4e055;
  --color-secondary-300: #dbe46c;
  --color-secondary-400: #e1e883;
  --color-secondary-500: #e7eb98;
  --color-secondary-600: #ecefad;

  /** CSS DARK THEME SURFACE COLORS */ 
  --color-surface-100: #fdfdfd;
  --color-surface-200: #e7e7e7;
  --color-surface-300: #d1d1d1;
  --color-surface-400: #bebebe;
  --color-surface-500: #afafaf;

  /** CSS TEXTS COLORS */ 
  --color-text-100: #121212;
  --color-text-200: #282828;
  --color-text-300: #3f3f3f;
  --color-text-400: #575757;
  --color-text-500: #717171;

  --color-gray-1: #FFFFFF;
  --color-gray-2: #EEEEEE;
  --color-gray-3: #D5D5D5;
  --color-gray-4: #BBBBBB;
  --color-gray-5: #A1A1A1;
  --color-gray-6: #888888;
  --color-gray-7: #6F6F6F;
  --color-gray-8: #555555;
  --color-gray-9: #3C3C3C;
  --color-gray-10: #222222;

  /* Typography */ 
  --font-family-primary: sans-serif;
  --font-family-secondary: serif;

  --base-half-unit: calc(var(--base-unit) / 2);
  --font-base-unit: var(--base-unit);
  /* Font sizes - 4x4 grid */
  --font-size-12: calc(var(--font-base-unit) * 3);
  --font-size-16: calc(var(--font-base-unit) * 4);
  --font-size-20: calc(var(--font-base-unit) * 5);
  --font-size-24: calc(var(--font-base-unit) * 6);
  --font-size-30: calc(var(--font-base-unit) * 8);
  --font-size-40: calc(var(--font-base-unit) * 10);
  --font-size-48: calc(var(--font-base-unit) * 12);
  --font-size-64: calc(var(--font-base-unit) * 16);
  --font-size-128: calc(var(--font-base-unit) * 32);
  --font-size-256: calc(var(--font-base-unit) * 64);

  --line-height-base-unit: 1;
  /* Line heights */
  --line-height-small:   calc(var(--line-height-base-unit) * 1.1);
  --line-height-medium:  calc(var(--line-height-base-unit) * 1.3);
  --line-height-large:   calc(var(--line-height-base-unit) * 1.5);
  
  /* Font weights */
  --font-weight-lighter:  100;
  --font-weight-light:    200;
  --font-weight-normal:   400;
  --font-weight-bold:     700;
  --font-weight-bolder:   900;

  /* Spacers */
  --space-base-unit: var(--base-unit);
  --space-4:  calc(var(--space-base-unit) * 1);
  --space-8:  calc(var(--space-base-unit) * 2);
  --space-16: calc(var(--space-base-unit) * 4);
  --space-24: calc(var(--space-base-unit) * 6);
  --space-32: calc(var(--space-base-unit) * 8);
  --space-40: calc(var(--space-base-unit) * 10);
  --space-48: calc(var(--space-base-unit) * 12);
  --space-64: calc(var(--space-base-unit) * 16);
  --space-128: calc(var(--space-base-unit) * 32);

  /* Breakpoints  */
  --breakpoint-small:     544px;
  --breakpoint-medium:    768px;
  --breakpoint-large:     1012px;

  /* Border color */
  --border-color-lighter: var(--color-gray-2);
  --border-color-light:   var(--color-gray-3);
  --border-color:         var(--color-gray-5);
  --border-color-dark:    var(--color-gray-7);
  --border-color-darker:  var(--color-gray-9);

  /* Transition */
  --transition-faster:    0.1s;
  --transition-fast:      0.2s;
  --transition-normal:    0.3s;
  --transition-slow:      0.4s;
  --transition-slower:    0.5s;

  --single-shadow: 0 2px 2px 0 hsla(0, 0%, 0%, 0.10);
}

@media (prefers-color-scheme: dark) {
  :root {
    /** CSS DARK THEME SURFACE COLORS */ 
    --color-surface-100: #1f1f1f;
    --color-surface-200: #282828;
    --color-surface-300: #3f3f3f;
    --color-surface-400: #4e4e4e;
    --color-surface-500: #717171;
    
    /** CSS TEXTS COLORS */ 
    --color-text-100: #fdfdfd;
    --color-text-200: #e7e7e7;
    --color-text-300: #d1d1d1;
    --color-text-400: #bebebe;
    --color-text-500: #afafaf;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--color-surface-200);
  color: var(--color-text-100);
}
.container {
  max-width: var(--breakpoint-large);
  margin: 0 auto;
  padding: 0 1rem;
}
.section {
  padding: var(--space-16);
  background-color: var(--color-surface-100);
  margin-bottom: var(--space-16);
}
.section__title {
  font-size: var(--font-size-20);
  font-weight: 500;
  margin: var(--space-16) 0 var(--space-24);
  position: relative;
  padding-left: var(--space-16);
}
.section__title::before {
  content: '';
  background: var(--color-primary-100);
  position: absolute;
  left: 0;
  height: 100%;
  width: var(--space-4);
}
p {
  font-size: var(--font-size-16);
  line-height: 1.7;
  padding: 0;
  margin: 0 0 var(--font-size-24);
}
.section__subtitle {
  font-size: var(--font-size-18);
  font-weight: 500;
  margin: var(--space-24) 0 var(--space-32);
}