@use '../scss/variables' as *;
@use '../scss/mixins' as *;

:root {
  --color-primary-100: #3f51b5;
  --color-primary-200: #5962be;
  --color-primary-300: #7074c6;
  --color-primary-400: #8587ce;
  --color-primary-500: #9a9ad7;

  --color-complementary: #8BC34A;

  --color-gray-1: #FFFFFF;
  --color-gray-2: #EEEEEE;
  --color-gray-3: #D5D5D5;
  --color-gray-4: #BBBBBB;
  --color-gray-5: #A1A1A1;
  --color-gray-6: #888888;
  --color-gray-7: #6F6F6F;
  --color-gray-8: #555555;
  --color-gray-9: #3C3C3C;
  --color-gray-10: #222222;

  /* Border color */
  --border-color-lighter: var(--color-gray-2);
  --border-color-light:   var(--color-gray-3);
  --border-color:         var(--color-gray-5);
  --border-color-dark:    var(--color-gray-7);
  --border-color-darker:  var(--color-gray-9);

  /* Transition */
  --transition-faster:    0.1s;
  --transition-fast:      0.2s;
  --transition-normal:    0.3s;
  --transition-slow:      0.4s;
  --transition-slower:    0.5s;

  --single-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.10);
}

[data-theme='light'] {
  --color-surface-100: #fdfdfd;
  --color-surface-200: #e7e7e7;
  --color-surface-300: #d1d1d1;
  --color-surface-400: #bebebe;
  --color-surface-500: #afafaf;

  --color-text-100: #121212;
  --color-text-200: #282828;
  --color-text-300: #3f3f3f;
  --color-text-400: #575757;
  --color-text-500: #717171;
}

[data-theme='dark'] {
  --color-surface-100: #1f1f1f;
  --color-surface-200: #282828;
  --color-surface-300: #3f3f3f;
  --color-surface-400: #4e4e4e;
  --color-surface-500: #717171;
  
  --color-text-100: #fdfdfd;
  --color-text-200: #e7e7e7;
  --color-text-300: #d1d1d1;
  --color-text-400: #bebebe;
  --color-text-500: #afafaf;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: background var(--transition-fast) ease-in;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-lekton);
  background-color: var(--color-surface-200);
  color: var(--color-text-100);
  background-image: linear-gradient(var(--color-surface-400) 1px, transparent 1px),
    linear-gradient(to right, #ccccdc 1px, transparent 1px);
  background-size: $space-64 $space-64;
}

.boxbg {
  background: radial-gradient(transparent, var(--color-surface-200) 85%);
}

p {
  font-size: $fsize-16;
  line-height: $line-height-large;
  padding: 0;
  margin: 0 0 $fsize-24;
}

main {
  @include breakpoint(small) {
    display: flex;
    gap: 1rem;
    margin: auto;
  }
  @include breakpoint(medium) {
    max-width: 34rem;
  }
  @include breakpoint(large) {
    max-width: 48rem;
  }
}
