@use '../scss/variables' as *;

.card {
  background: var(--color-surface-100);
  height: 100%;
  display: grid;
  position: relative;
  padding: $space-16;
  &::before {
    content: '';
    background: url('/img/image-bg-card.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    position: absolute;
    height: 50%;
    z-index: 0;
  }
}
.content {
  position: relative;
  transform: translate(0, 100%);
  height: calc(50% + $space-64);
  top: calc($space-128 * -1)
}
.buttons {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
}