.header {
  background-color: var(--color-surface-100);
  box-shadow: var(--single-shadow);
  padding: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: auto;
  height: auto;
  max-width: 100%;
  z-index: 1;
}