@use '../../scss/extends' as *;
@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.block {
  background-color: var(--color-surface-100);
  box-shadow: var(--single-shadow);
  padding: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: auto;
  height: auto;
  max-width: 100%;
  z-index: 10;
  @include breakpoint(medium) {
    position: sticky;
    width: max-content;
    margin: $space-64 0 0;
    height: fit-content;
    padding: calc($space-16 + $space-4) 0 $space-8;
    border-radius: $space-4;
  }
}

.container {
  @extend %container;
}