@use '../../../scss/extends' as *;
@use '../../../scss/variables' as *;
@use '../../../scss/mixins' as *;

.group {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.label {
  position: absolute;
  top: $fsize-16 * 2.5;
  font-size: $fsize-12 * 1.3;
  color: var(--color-text-100);
  cursor: text;
  transition: all var(--transition-fast) ease-in;
}

.input {
  display: block;
  width: 100%;
  padding-top: $space-32;
  font-family: var(--font-lekton);
  border: none;
  border-radius: 0;
  color: var(--color-text-100);
  background: transparent;
  font-size: $space-16;
  line-height: 2.25;
  transition: all var(--transition-fast) ease-in;
  &:focus, &:valid {
    outline: none;
    ~ .line:before {
      transform: translateX(0);
    }
  }
  &:invalid ~ label,
  &:valid ~ label,
  &:focus ~ label {
    top: $space-16 * 1.1;
    font-size: $fsize-16 ;
    line-height: 1;
    font-weight: $fweight-bold;
  }
}

.line {
  background: var(--border-color-light);
  content: "";
  width: 100%;
  height: 1px;
  transition: all var(--transition-fast) ease-in;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 150%;
    background: var(--color-text-100);
    transform: translateX(-100%);
  }
  &[class*="error"] {
    background: var(--color-error);
    &:before {
      background: var(--color-error);
    }
  }
}

.message {
  color: var(--color-error);
  font-size: $fsize-12;
  margin-bottom: 0;
  margin-top: $space-8;
}