@use '../../scss/extends' as *;
@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.section {
  @extend %section;
  @include breakpoint(medium) {
    margin-top: 0;
  }
}
.title {
  @extend %section-title;
}

.block {
  position: relative;
  margin-bottom: $space-24;
  padding-bottom: $space-24;
  &::after {
    content: "";
    position: absolute;
    top: calc($space-24) * -1;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, var(--border-color-dark), transparent);
  }
  &:last-child {
    margin-bottom: 0;
  }
  &_header {
    @include flexbox($display: flex, $align: center);
    margin-bottom: $space-24;
  }
  &_name {
    font: normal normal $fweight-bold .95rem/#{$line-height-medium} var(--font-roboto);
    color: var(--color-text-200);
    text-transform: uppercase;
  }
  &_content {
    position: relative;
    padding: 0 0 $space-24 0;
  }
  &_date {
    font: normal normal $fweight-normal $fsize-12 * 1.2/#{$line-height-xxlarge} var(--font-roboto);
    margin: 0 0 $space-8;
    padding: 0 $space-8 * 1.5;
    position: relative;
    display: inline-block;
    vertical-align: top;
    color: var(--color-text-500);
    border: 1px solid var(--color-gray-3);
  }
  &_date_current {
    border: 2px solid var(--color-primary-100);
    color: var(--color-text-200);
    font-weight: $fweight-bold;
  }
  &_link {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: $space-8;
    svg {
      float: none !important;
      width: $fsize-16 !important;
      height: $fsize-16 !important;
      margin: 0 !important;
      padding: 0 !important;
      color: var(--color-text-100) !important;
    }
    &:hover {
      color: var(--color-complementary);
    }
  }
  &_name {
    font: normal normal $fweight-bold $fsize-16/#{$line-height-large} var(--font-roboto);
    color: var(--color-text-300);
  }
  &_company {
    margin: $space-4 0 $space-8;
    font-size: $fsize-16;
    color: var(--color-text-400);
  }
  &_desc {
    margin-bottom: $fsize-8;
  }
  svg {
    color: var(--color-complementary);
    padding: $space-4;
    width: $space-48;
    height: $space-48;
    float: left;
    margin: $space-8 $space-16 0 0;
    box-shadow: 0 0 0 2px var(--color-primary-600);
  }
  &_skills {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin-top: $space-24;
    background: var(--color-surface-300);
  } 
}
