.nav {
  display: flex;
  padding: var(--space-8) 0;
}
.nav__ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: auto;
  grid-gap: 1rem;
  width: 100%;
}
.nav__li {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: var(--space-48);
  gap: var(--space-4);
}
.nav__li svg {
  font-size: var(--font-size-24);
}
.nav__li span {
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-light);
}