// Fonts
$base-unit: 0.25rem;
$fbase-unit: $base-unit;
/* Font sizes - 4x4 grid */

$fsize-8: calc($fbase-unit * 2);
$fsize-12: calc($fbase-unit * 3);
$fsize-16: calc($fbase-unit * 4);
$fsize-20: calc($fbase-unit * 5);
$fsize-24: calc($fbase-unit * 6);
$fsize-30: calc($fbase-unit * 8);
$fsize-40: calc($fbase-unit * 10);
$fsize-48: calc($fbase-unit * 12);
$fsize-64: calc($fbase-unit * 16);
$fsize-128: calc($fbase-unit * 32);
$fsize-256: calc($fbase-unit * 64);

// Font weights
$fweight-lighter: 100;
$fweight-light: 200;
$fweight-normal: 400;
$fweight-bold: 700;
$fweight-bolder: 900;

// Line heights
$line-height-base-unit: 1;
$line-height-small:   calc($line-height-base-unit * 1.1);
$line-height-medium:  calc($line-height-base-unit * 1.3);
$line-height-large:   calc($line-height-base-unit * 1.5);
$line-height-xlarge:  calc($line-height-base-unit * 1.7);
$line-height-xxlarge: calc($line-height-base-unit * 1.9);

// Spacers
$space-base-unit: $base-unit;
$space-4:  calc($space-base-unit * 1);
$space-8:  calc($space-base-unit * 2);
$space-16: calc($space-base-unit * 4);
$space-24: calc($space-base-unit * 6);
$space-32: calc($space-base-unit * 8);
$space-40: calc($space-base-unit * 10);
$space-48: calc($space-base-unit * 12);
$space-64: calc($space-base-unit * 16);
$space-128: calc($space-base-unit * 32);
$space-256: calc($space-base-unit * 64);
