.about {
  position: relative;
}
.about__list {
  padding: 0;
  list-style: none;
}
.about__list li {
  padding: 0 0 var(--space-8);
  text-align: left;
}
.about__list li strong {
  margin-right: var(--space-8);
  padding: 0;
  color: var(--color-text-200);
  font-weight: var(--font-weight-bold);
}
.about__list li span {
  color: var(--color-text-200);
  font-weight: 300;
}
.about__list li strong:after {
  position: relative;
  content: ' . . . .';
  display: inline;
  margin-left: -4px;
}
.about__block {
  margin-bottom: var(--space-32);
}
.about__block svg {
  color: var(--color-primary-100);
  padding: var(--space-4);
  border: 1px solid;
  border-radius: 50%;
  width: var(--space-48);
  height: var(--space-48);
  float: left;
  margin: var(--space-8) var(--space-16) var(--space-16) 0;
}
.about__block_name {
  color: var(--color-text-200);
  font-weight: var(--font-weight-bold);
  letter-spacing: 1px;
  margin-bottom: var(--space-8);
  padding-left: var(--space-64);
}
.about__block_desc {
  font-weight: var(--font-weight-light);
  line-height: 1.5;
  padding-left: var(--space-64);
}