.main {
  position: relative;
  height: calc(100vh - 128px);
  margin-top: 128px;
  width: 100%;
}
.main > div {
  height: 100%;
}
@media(min-width: 768px) {
  .main {
    margin: var(--space-64) auto;
  }
  .main > div {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #000000 var(--color-surface-100);
  }
  .main > div::-webkit-scrollbar {
    width: 10px;
  }
  .main > div::-webkit-scrollbar-track {
    background: var(--color-surface-100);
  }
  .main > div::-webkit-scrollbar-thumb {
    background-color: var(--color-surface-500);
    border: 2px solid var(--color-surface-200);
  }
}